.main-container{
    height:842px;
    width:1492px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/bg.jpg');
    background-size: cover;
}

.calculator-background{
    border: 1px solid #fff;
    height:590px;
    width:400px;
    border-radius: 12px;
    padding:12px;
}

.calculator-history{
    height:30px;
    width: 376px;
    margin-bottom: 12px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calculator-historyImg{
    height:28px;
    width:30px;
    border-radius: 6px;
    cursor: pointer;
}

.calculator-answer{
    border: 1px solid #fff;
    height:120px;
    width:376px;
    margin-bottom: 12px;
    border-radius: 6px;
    background-color: #eaecec;
    color: #000;
    font-weight: bolder;
    outline: none;
    text-align: center;
    font-size: 26px;
    user-select: none;
}
.calculator-answer-hidden{
    display: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}


.calculator-buttons{
    height:392px;
    width:376px;
}

.calculator-numberButton{
    width: 90px;
    height: 46px;
    background-color: transparent;
    margin:0px 2px;
    border: 1px solid #fff;
    border-radius: 6px;
    cursor:pointer;
}
.calculator-numberButton:hover{
    box-shadow:1px -1px 10px #eada32;
}

.calculator-actionButton{
    width:96px;
    height:46px;
    background-color: transparent;
    margin: 0px 2px;
    border: 1px solid #fff;
    font-weight: bolder;
    font-size: 22px;
    cursor: pointer;
}
.calculator-actionButton-selected{
    width:96px;
    height:46px;
    background-color: #eaecec;
    margin: 0px 2px;
    border: 1px solid #fff;
    font-weight: bolder;
    font-size: 22px;
    cursor: pointer;
    color: #000;
}
.calculator-actionButton:hover{
    box-shadow:1px -1px 10px #eada32;
    background-color: #eaecec;
    color: #000;
}

.calculator-clearImg{
    width:30px;
    height:38px;
}

.calculator-ongoing{
    border:1px solid #000;
    position: absolute;
    width: 378px;
    height:30px;
    top:180px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000;
    font-weight: bolder;
}

.calculator-history-holder-hidden{
    display: none;
}
.calculator-history-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12 0px;
    color: #000;
    font-weight: bolder;
    font-size: 18px;
    background-color: inherit;
    position: absolute;
    border: 1px solid #fff;
    height:490px;
    width:400px;
    margin-left:400px ;
    border-radius: 6px;
    overflow-y: scroll;
}

.history-close-button{
    width:36px;
    height:26px;
    background-color: transparent;
    margin: 0px 2px;
    font-size: 22px;
    cursor: pointer;
    position: sticky;
    top: 0px;
    left:360px;
    font-weight: lighter;
    border: 1px solid #fff;
    border-radius: 6px;
}